@model Eve_Intel_Manager.Entities.Reports

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Secure/_DashboardLayout.cshtml";

}

<h1>Create</h1>

<h4>Reports</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReportBody" class="control-label">Details</label>
                <textarea asp-for="ReportBody" class="form-control"></textarea>
                <span asp-validation-for="ReportBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">UTC Report was generated:</label>
                <input asp-for="ReportGenerated" class="form-control" readonly />
                

            </div>
            <div>
                <label class="control-label">System report was generated in:</label>
                <input asp-for="ReportLocation" class="form-control" readonly/>
                

            </div>
            <div class="form-group">
                <label class="control-label">Length of time before report expires</label>
                <input asp-for="ReportExpiry" class="form-control" />
                <span asp-validation-for="ReportExpiry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Creator of report</label>
                <input asp-for="CreatedBy" class="form-control" readonly />
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

