@model Eve_Intel_Manager.Entities.Bookmarks

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Secure/_DashboardLayout.cshtml";
}

<h1>Edit</h1>

<h4>Bookmarks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BookmarkID" />
            <div class="form-group">
                <label asp-for="Xcoord" class="control-label"></label>
                <input asp-for="Xcoord" class="form-control" />
                <span asp-validation-for="Xcoord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ycoord" class="control-label"></label>
                <input asp-for="Ycoord" class="form-control" />
                <span asp-validation-for="Ycoord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zcoord" class="control-label"></label>
                <input asp-for="Zcoord" class="form-control" />
                <span asp-validation-for="Zcoord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorId" class="control-label"></label>
                <input asp-for="CreatorId" class="form-control" />
                <span asp-validation-for="CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FolderId" class="control-label"></label>
                <input asp-for="FolderId" class="form-control" />
                <span asp-validation-for="FolderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Label" class="control-label"></label>
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationID" class="control-label"></label>
                <input asp-for="LocationID" class="form-control" />
                <span asp-validation-for="LocationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

