@using Eve_Intel_Manager.Entities;


@model Eve_Intel_Manager.Models.SecurePageViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Secure/_DashboardLayout.cshtml";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CharacterName" class="control-label"></label>
                <input asp-for="CharacterName" class="form-control" readonly />
                <span asp-validation-for="CharacterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorporationName" class="control-label"></label>
                <input asp-for="CorporationName" class="form-control" readonly />
                <span asp-validation-for="CorporationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharacterLocation" class="control-label"></label>
                <input asp-for="CharacterLocation" class="form-control" readonly />
                <span asp-validation-for="CharacterLocation" class="text-danger"></span>
            </div>
        </form>
        <div>     @if(Model.isAdmin)
                    {      
                    <div>
                        <h4>Admin</h4>                   
                        <button type="button" onclick="window.location.href='/UserModels/'">User Administration</button>
                        <button type="button" onclick= "window.location.href='/Access/'">Corporation Access</button>                      
                    </div>
                    }
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
