@using Eve_Intel_Manager.Entities;


@model Eve_Intel_Manager.Models.SecurePageViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Secure/_DashboardLayout.cshtml";
}

<hr />
<div>
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <input type="text" id="userInput" value="@Model.CharacterName" readonly />
                <br />
                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">&nbsp;</div>
                    <div class="col-6">
                        <ul id="messagesList"></ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-6">&nbsp;</div>
            <div class="col-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </div>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/notify.js"></script>
</div>
<div class="row">
    <div class="col-md-4">
   
        <div>
            @if(Model.isAdmin)
                    {
            <div>
                <h4>Admin</h4>
                <button type="button" onclick="window.location.href='/UserModels/'">User Administration</button>
                <button type="button" onclick="window.location.href='/Access/'">Corporation Access</button>
            </div>
                    }
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
