@page

@using Eve_Intel_Manager.Entities;
@model IEnumerable<Reports>


@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Secure/_DashboardLayout.cshtml";
}


    <div class="ReportBody">test</div>

