@{
    ViewData["Title"] = "Home Page";
}




<h1 style="text-align: center;">EVE INTEL MANAGER</h1>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">Log in to continue</p>
<div style="text-align: center;"><button> <a href="/Auth/Login"><img src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-white-small.png" alt="LOG IN with EVE Online" /></a> </button></div>