@{
    ViewData["Title"] = "Home Page";
}


    <div class="item">

        <div class="col-md-3">
            <h2>Login</h2>

            <div style="text-align:center;">
                <button>
                    <a href="/Auth/Login"><img src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-white-small.png" alt="LOG IN with EVE Online"></a></li>
                </button>
            </div>

        </div>
    </div>
