@{
    ViewData["Title"] = "Home Page";
}

    <html>
    <body background="/Resources/Images/background.jpg">
        <h1 style="text-align: center;"><span style="color: #000000;">EVE INTEL MANAGER</span></h1>
        <p style="text-align: center;"><span style="color: #000000;">&nbsp;</span></p>
        <p style="text-align: center;"><span style="color: #000000;">&nbsp;</span></p>
        <p style="text-align: center;"><span style="color: #000000;">Log in to continue</span></p>
        <div style="text-align: center;"><button> <a href="/Auth/Login"><img src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-white-small.png" alt="LOG IN with EVE Online" /></a> </button></div>
    </body>
    </html>

