@{
    ViewData["Title"] = "Home Page";
}


    <div class="item">

        <div class="col-md-3">
            <h2>Login</h2>
        </div>
        <ul class="btn-dark">
            <li><a href="/Auth/Login"><img src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-white-small.png" alt="LOG IN with EVE Online"></a></li>
        </ul>
        
    </div>
